// Add CSS block
var style = document.createElement('style');
var head = document.head || document.getElementsByTagName('head')[0];
var css = "\
  .portholes-notice {\
    position: fixed;\
    top: 0;\
    left: 0;\
    z-index: 99999999999999;\
    display: flex;\
    justify-content: space-between;\
    border-bottom: 1px solid;\
    background-color: white;\
    color: black;\
    width: 100%;\
    font-family: sans-serif;\
  }\
  .portholes-notice p {\
    margin: 0;\
    padding: 15px;\
    font-size: 22px;\
  }\
  #portholes-close:hover {\
    cursor: pointer;\
  }\
";

style.type = 'text/css';
head.appendChild(style);
style.appendChild(document.createTextNode(css));

// Add HTML block
div = document.createElement('div');
div.setAttribute('class', 'portholes-notice');
div.innerHTML = '\
  <p>Portholes</p>\
  <p id="portholes-action">Saving...</p>\
  <p id="portholes-close">&#10799;</p>\
';

function transferComplete() {
  document.getElementById('portholes-action').innerHTML = 'Saved';
}

function transferFailed() {
  if (document.location.href.includes("bloomberg.com")) {
    document.getElementById('portholes-action').innerHTML = 'Bloomberg goes out of their way to break the internet. You will not be able to save this article.';
  } else {
    document.getElementById('portholes-action').innerHTML = 'Error Saving Article';
  }
}

// Add text
document.body.appendChild(div);

var request = new XMLHttpRequest();
request.addEventListener('load', transferComplete);
request.addEventListener('error', transferFailed);

var body = document.body;
var url = 'http://localhost:3000/article?folder_id=1&source_url=' + document.location.href;

if (body) try {
  request.open('POST', url);
  request.send();
} catch(e) {
  alert('Something went wrong.');
}

// Remove all of this nonsense if they click the X
document.getElementById('portholes-close').addEventListener('click', function() {
  document.querySelector('.portholes-notice').remove();
});
